<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lingkai5wu.loveta.mapper.GroupMapper">

    <select id="listRolesById" resultType="java.lang.String">
        SELECT auth_group.name
        FROM auth_group
                 INNER JOIN auth_user_groups ON auth_group.id = auth_user_groups.group_id
        WHERE auth_user_groups.user_id = #{id}
    </select>
</mapper>
