<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lingkai5wu.loveta.mapper.MenuMapper">

    <select id="listMenuByUserId" resultType="com.github.lingkai5wu.loveta.model.po.Menu">
        SELECT auth_menu.id,
               auth_menu.pid,
               auth_menu.name,
               auth_menu.label,
               auth_menu.href,
               auth_group_menus.sort
        FROM auth_menu
                 INNER JOIN auth_group_menus ON auth_menu.id = auth_group_menus.menu_id
                 INNER JOIN auth_user_groups ON auth_group_menus.group_id = auth_user_groups.group_id
        WHERE auth_user_groups.user_id = 1
    </select>
</mapper>
