<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lingkai5wu.loveta.mapper.PermissionMapper">

    <select id="listPermissionCodesByUserId" resultType="java.lang.String" parameterType="object">
        SELECT p.code
        FROM auth_permission p
                 INNER JOIN auth_role_permission rp ON p.id = rp.permission_id
                 INNER JOIN auth_user_role ur ON rp.role_id = ur.role_id
        WHERE ur.user_id = #{id}
    </select>
    <select id="listPermissionsByUserId" resultType="com.github.lingkai5wu.loveta.model.po.Permission"
            parameterType="long">
        SELECT p.*
        FROM auth_permission p
                 INNER JOIN auth_role_permission rp ON p.id = rp.permission_id
                 INNER JOIN auth_user_role ur ON rp.role_id = ur.role_id
        WHERE ur.user_id = #{id}
    </select>
    <select id="listPermissionsByRoleId" resultType="com.github.lingkai5wu.loveta.model.po.Permission"
            parameterType="int">
        SELECT p.*
        FROM auth_permission p
                 INNER JOIN auth_role_permission rp ON p.id = rp.permission_id
        WHERE rp.role_id = #{id}
    </select>

    <insert id="batchInsertRolePermissions">
        INSERT INTO auth_role_permission(role_id, permission_id)
        VALUES
        <foreach item="permissionId" collection="permissionIdsToInsert" separator=",">
            (#{roleId}, #{permissionId})
        </foreach>
    </insert>
    <delete id="batchDeleteRolePermissions">
        DELETE FROM auth_role_permission
        WHERE role_id = #{roleId}
        AND permission_id IN
        <foreach item="permissionId" collection="permissionIdsToDelete" open="(" separator="," close=")">
            #{permissionId}
        </foreach>
    </delete>

    <delete id="batchDeletePermissionsByCode">
        DELETE FROM auth_permission
        WHERE code IN
        <foreach item="permissionCode" collection="permissionCodeList" open="(" separator="," close=")">
            #{permissionCode}
        </foreach>
    </delete>
</mapper>
