<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lingkai5wu.loveta.mapper.PopulationMapper">

    <select id="listPopulationBasicVOs" resultType="com.github.lingkai5wu.loveta.model.vo.PopulationBasicVO">
        SELECT p.id          AS id,
               s.label       AS species,
               a.label       AS area,
               p.label       AS label,
               p.description AS description
        FROM population p
                 INNER JOIN species s ON p.species_id = s.id
                 INNER JOIN area a ON p.area_id = a.id
    </select>
</mapper>
